

.container{
  max-width: 960px;
  margin: 0 auto;
}

video {
  width: 100%;
}

/* SUBTITLE COLOR TESTS */

/* ::cue(#red) {
  color: red;
}

::cue(#green) {
  color: green;
}

::cue(#blue) {
  color: blue;
} */

video::cue {background-color: rgba(0,0,0,0);}

/* video::cue {
  background-image: linear-gradient(to bottom, dimgray, lightgray);
  color: papayawhip;
}

video::cue(b) {
  color: peachpuff;
}

video::cue(b) {
  color: peachpuff;
} */

.burntHider{
  width:100%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  height: 60px;
  margin-top: -40px;
  z-index: 300000;
  float: left;
}

video{
  z-index: -1;
  float: left;
}
